{% extends "admin/base_site.html" %}
{% block content %}
  <h2>Fusionner des mots</h2>
  <form action="" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="action" value="merge" />
    <p>
      <input type="submit" name="apply" value="Fusionner" />
    </p>
  </form>
{% endblock content %}
