{% load humanize %}
{% block main %}
  <section class="mb-8">
    <header>
      <h1 class="article">
        {{ article }}
        <time class="text-sm" datetime="{{ article.published_on|date:'Y-m-d' }}">
          {{ article.published_on|date:"m/Y" }}
        </time>
      </h1>
    </header>
    {% with count=article.new_words.count %}
      <p class="text-xl mb-8" id="new-words">
        Parmi les {{ article.word_count }} mots indexés pour cet article de
        {{ article.published_on|date:"F Y" }}
        {% if count == 0 %}
          il n'y aucun mot nouveau.
        {% else %}
          on découvre {{ count|apnumber }} nouveau{{ count|pluralize:"x" }}
          mot{{ count|pluralize }}&nbsp;:
        {% endif %}
      </p>
      {% if count > 0 %}
        {% include "_words.html" with words=article.new_words.all only %}
      {% endif %}
    {% endwith %}
    <nav class="mb-4">
      <ul class="flex flex-wrap gap-4">
        <li>
          <a href="{{ article.url }}" class="button" target="_blank">Lire l’article sur le Monde Diplomatique</a>
        </li>
      </ul>
    </nav>
  </section>
{% endblock main %}
{% include "_htmx_meta.html" %}
