{% include "_words.html" with words=paginator only %}
<nav data-hx-boost="true"
     data-hx-target="#results"
     data-hx-push-url="true"
     data-hx-indicator="#results">
  <ul class="pagination">
    <li>
      <a href="?{{ extra_params }}page=1"
         role="button"
         title="Première page"
         class="button">«</a>
    </li>
    {% if paginator.has_previous %}
      <li>
        <a href="?{{ extra_params }}page={{ paginator.previous_page_number }}"
           role="button"
           title="Page précédente"
           class="button">&lt;</a>
      </li>
    {% else %}
      <li>
        <a href="?{{ extra_params }}page=1"
           role="button"
           title="Page précédente"
           class="button">&lt;</a>
      </li>
    {% endif %}
    <li>
      Page
      <input type="number"
             name="page"
             value="{{ paginator.number }}"
             placeholder="n° page"
             min="1"
             max="{{ paginator.paginator.num_pages }}"
             class="page"
             data-hx-get="?{{ extra_params }}"
             data-hx-trigger="keyup changed delay:500ms, page" />
      /{{ paginator.paginator.num_pages }}
    </li>
    {% if paginator.has_next %}
      <li>
        <a href="?{{ extra_params }}page={{ paginator.next_page_number }}"
           role="button"
           title="Page suivante"
           class="button">&gt;</a>
      </li>
    {% else %}
      <li>
        <a href="?{{ extra_params }}page={{ paginator.paginator.num_pages }}"
           role="button"
           title="Page suivante"
           class="button">&gt;</a>
      </li>
    {% endif %}
    <li>
      <a href="?{{ extra_params }}page={{ paginator.paginator.num_pages }}"
         role="button"
         title="Dernière page"
         class="button">»</a>
    </li>
  </ul>
</nav>
{% include "_htmx_meta.html" %}
