<section id="results">
  <header>
    <h1 class="title">Résultats de la recherche pour «&nbsp;{{ query }}&nbsp;»</h1>
  </header>
  {% if paginator %}
    {% include "_list.html" %}
  {% else %}
    <em>Aucun mot ne correspond :-(</em>
  {% endif %}
</section>
{% include "_htmx_meta.html" %}
