{% load humanize %}
<section class="mb-8">
  <header>
    <h1 class="word">
      {{ word }}
      <time class="text-sm" datetime="{{ word.first_used_on|date:'Y-m-d' }}">
        {{ word.first_used_on|date:"m/Y" }}
      </time>
    </h1>
  </header>
  <p class="text-xl mb-8">
    Première apparition dans le Monde Diplomatique en {{ word.first_used_on|date:'F Y' }}
    dans l'article <a href="{{ word.first_used_in.get_absolute_url }}" class="internal">{{ word.first_used_in }}</a>.
  </p>
  {% if excerpt %}
    <blockquote cite="{{ word.first_used_in.url }}">
      <p>{{ excerpt }}</p>
    </blockquote>
  {% endif %}
  <nav class="mb-4">
    <ul class="flex flex-wrap gap-4">
      <li>
        <a href="https://fr.wiktionary.org/w/index.php?title=Sp%C3%A9cial%3ARecherche&search={{ word|iriencode }}"
           class="button"
           target="_blank">
          <span class="hidden md:inline">{{ word }} sur </span>wiktionary
        </a>
      </li>
      <li>
        <a href="https://fr.wikipedia.org/w/index.php?title=Sp%C3%A9cial%3ARecherche&search={{ word|iriencode }}"
           class="button"
           target="_blank">
          <span class="hidden md:inline">{{ word }} sur </span>wikipedia
        </a>
      </li>
    </ul>
  </nav>
</section>
{% if word.related_words.count %}
  {% with related=word.related_words.count %}
    <section class="mb-8" id="related-words">
      <header>
        <h2 class="title">
          {{ related|apnumber|title }} mot{{ related|pluralize }}
          potentiellement similaire{{ related|pluralize }}
        </h2>
      </header>
      <p class="mb-4">
        Ce{{ related|pluralize }} mot{{ related|pluralize }}
        partage{{ related|pluralize:"nt" }} le même lemme que «&nbsp;{{ word }}&nbsp;»,
        probablement une version au singulier, au pluriel, conjuguée, … ou une erreur&nbsp;:
      </p>
      {% include "_words.html" with words=word.related_words.all only %}
    </section>
  {% endwith %}
{% endif %}
{% with appearances=word.other_articles.count %}
  {% if appearances %}
    <section class="mb-8" id="appearances">
      <header>
        <h2 class="title">
          {{ appearances|apnumber|title }}
          {% if appearances == 1 %}e{% endif %}
          autre{{ appearances|pluralize }}
          apparition{{ appearances|pluralize }}
        </h2>
      </header>
      <p class="mb-4">
        {% if appearances == 1 %}
          Un autre article
        {% else %}
          D'autres articles
        {% endif %}
        du Monde Diplomatique qui contien{{ appearances|pluralize:"t,nent" }} ce mot&nbsp;:
      </p>
      <ol class="{% if appearances > 10 %}lg:columns-2{% endif %} list-decimal list-inside">
        {% for article in word.other_articles %}
          <li>
            <a href="{{ article.get_absolute_url }}" class="internal">{{ article }}</a>
            <time class="text-xs" datetime="{{ article.published_on|date:'Y-m-d' }}">
              {{ article.published_on|date:"m/Y" }}
            </time>
          </li>
        {% endfor %}
      </ol>
    </section>
  {% endif %}
{% endwith %}
<nav data-hx-target="#main" data-hx-push-url="true" data-hx-boost="true">
  <ul class="list-none flex justify-between flex-wrap items-stretch">
    {% if word.previous %}
      <li>
        <a href="{{ word.previous.get_absolute_url }}" class="button">&lt; {{ word.previous }}</a>
      </li>
    {% endif %}
    <li data-hx-disable="true">
      <a href="{% url 'letter' word.text.0 %}" class="button">Index des {{ word.text.0|upper }}</a>
    </li>
    <li data-hx-disable="true">
      <a href="{% url 'year' word.first_used_on|date:'Y' %}" class="button">Index {{ word.first_used_on|date:"Y" }}</a>
    </li>
    {% if request.user.is_superuser %}
      <li>{% include "_bogus.html" %}</li>
    {% endif %}
    {% if word.following %}
      <li>
        <a href="{{ word.following.get_absolute_url }}" class="button">{{ word.following }} &gt;</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% include "_htmx_meta.html" %}
