{% extends "base.html" %}
{% block title %}
  {{ page_title }}
{% endblock title %}
{% block description %}
  {{ page_description }}
{% endblock description %}
{% block main %}
  <nav id="index"
       data-hx-target="#results"
       data-hx-push-url="true"
       data-hx-boost="true"
       class="mb-4">
    <ul>
      {% for entry in index %}
        <li>
          <a href="{% url 'letter' entry.letter %}"
             title="{{ entry.count }} mot{{ entry.count|pluralize }} en {{ entry.letter|upper }}">
            {{ entry.letter|upper }}
            <span class="badge bg-blue-600 text-white">{{ entry.count }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <section id="results">
    {% if not paginator %}
      {% include "_chart_alphabetical.html" %}
    {% endif %}
    {% if paginator %}
      {% include "_list.html" %}
    {% endif %}
  </section>
{% endblock main %}
