{% load static motdiplo %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>
      {% block title %}
        Le mot diplomatique
      {% endblock title %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block description %}Historique de la première apparition dun mot dans Le Monde Diplomatique{% endblock description %}">
    <meta name="keywords"
          content="{% block keywords %}mot, diplomatique{% endblock keywords %}">
    <meta name="google-site-verification"
          content="LX3i5nlHidOnbTFyTSkg2UrRJcbWu-VUxUbJotFfEgw">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'logo.svg' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="apple-touch-icon"
          href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="author" href="/humans.txt">
    {% block rss %}
      <link rel="alternate"
            type="application/rss+xml"
            title="Derniers mots"
            href="{% url 'rss' %}">
    {% endblock rss %}
    <meta name=" theme-color" content="#1d4ed8">
    {% comment %} https://htmx.org/docs/#config {% endcomment %}
    <meta name="htmx-config"
          content='{"historyCacheSize": 15, "includeIndicatorStyles": false, "inlineScriptNonce": "{{ CSP_NONCE }}"}'>
  </head>
  <body class="container mx-auto font-sans text-slate-700 px-3 md:px-0">
    <header class="mt-3">
      {% include "_navbar.html" %}
    </header>
    <main class="mb-8" id="main">
      <div id="alert" hidden class="alert alert-warning sticky-top"></div>
      {% block main %}
      {% endblock main %}
    </main>
    <footer>
      {% include "_footer.html" %}
    </footer>
    {% block scripts %}
      {% block htmx %}
        <script src="{% static 'js/htmx.min.js' %}" defer nonce="{{ CSP_NONCE }}"></script>
      {% endblock htmx %}
      {% block sw %}
        {% include "_sw.html" %}
      {% endblock sw %}
      <script nonce="{{ CSP_NONCE }}">
        // Gestion des erreurs sur les requêtes htmx
        // source: https://xvello.net/blog/htmx-error-handling/
        document.body.addEventListener('htmx:afterRequest', function(evt) {
          const errorTarget = document.getElementById("alert");
          if (evt.detail.successful) {
            // Successful request, clear out alert
            errorTarget.setAttribute("hidden", "true")
            errorTarget.innerText = "";
          } else if (evt.detail.failed && evt.detail.xhr) {
            // Server error with response contents, equivalent to htmx:responseError
            console.warn("Server error", evt.detail);
            const xhr = evt.detail.xhr;
            errorTarget.innerText = `Unexpected server error: ${xhr.status} - ${xhr.statusText}`;
            errorTarget.removeAttribute("hidden");
          } else {
            // Unspecified failure, usually caused by network error
            console.error("Unexpected htmx error", evt.detail);
            errorTarget.innerText = "Unexpected error, check your connection and try to refresh the page.";
            errorTarget.removeAttribute("hidden");
          }
        });
      </script>
    {% endblock scripts %}
  </body>
</html>
