@tailwind base;
@tailwind components;
@tailwind utilities;

/* Supprimer les boutons sur les champs number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

a.internal {
  @apply hover:text-blue-700;
  @apply underline decoration-solid underline-offset-2;
}

a.external {
  @apply hover:text-red-700;
  @apply underline decoration-solid underline-offset-2;
}

.badge {
  @apply text-xs inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold rounded;
}

h1.title {
  @apply text-xl mb-4 font-semibold text-blue-700
}
h2.title {
  @apply text-2xl mb-2 text-blue-700
}
h1.word {
  @apply text-6xl mb-8 font-bold capitalize text-blue-700 break-words;
  hyphens: auto;
}
h1.article {
  @apply text-4xl mb-8 font-bold text-blue-700 break-words;
  hyphens: auto;
}

#index ul {
  @apply flex flex-nowrap gap-4 overflow-auto;
}
#index li {
  @apply text-center mb-4 cursor-pointer;
}
#index  a {
  @apply font-bold text-blue-700 inline-block;
}

time {
  @apply align-super oldstyle-nums stacked-fractions;
}

.button {
  @apply bg-transparent hover:bg-blue-500 block;
  @apply rounded border border-blue-500 hover:border-transparent;
  @apply text-blue-700 font-semibold hover:text-white py-2 px-4;
}

.button.danger {
  @apply hover:bg-red-500 border-red-500 text-red-700 hover:text-white;
}


.button.success {
   @apply hover:bg-green-500 border-green-500 text-green-700 hover:text-white;
}

ul.words li {
  @apply text-ellipsis overflow-hidden mb-1;
}

ul.words a {
  @apply underline decoration-dotted underline-offset-2 capitalize;
}

ul.pagination {
  @apply list-none flex justify-between;
}

input.page {
  @apply border-none w-12 p-0 text-right;
}

.htmx-request {
    @apply animate-pulse;
}

blockquote {
  @apply p-4 my-4 bg-gray-50 border-l-4 border-gray-300;
  p {
    @apply text-xl italic font-medium leading-relaxed text-gray-900;
  }
}
